body{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #F3F5FC;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

.presentacion{
    padding: 0% 10%;
    display: flex;
    box-sizing: border-box;
    gap:200px;
}


.presentacion__box1{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap:0px;
    width: 680px;
}

.presentacion__box1__container{
    display: flex;
}

.presentacion__texto{
    display: flex;
    background: none;
    font-size: 32px;
    box-sizing: border-box;
    border: none; 
    color:#0A3871;
    padding-top: 20px;
    outline:0px;
    resize: none;
    height: 500px;
    width: 680px;
    padding: 10px;
}
.header{

}
.header__imagen{
    padding-top: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    height: 88px;
    width: 160px;
}
.presentacion__box2__muñeco__imagen{
    box-sizing: border-box;
    justify-content: center;
    width:200px;
}
.presentacion__box2{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: #fff;
    padding-top: 131px; 
    border-radius: 32px;
    width: 300px;
}

.presentacion__box2B{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: #fff;
    padding-top: 11px; 
    border-radius: 32px;
    width: 300px;
    gap: 15px;
}

.presentacion__box2__mensaje1{
    padding-top: 32px;
    padding-left: 61px;
    padding-right: 61px;
    text-align: center;
    font-size: 24px;

}
.presentacion__box2__mensaje2{
    padding-top: 16px;
    padding-left: 31px;
    padding-right: 31px;
    text-align: center;
    font-size: 16px;

}

.presentacion__box2__texto{
    display: flex;
    background: none;
    font-size: 32px;
    box-sizing: border-box;
    border: none; 
    padding-top: none;
    outline:0px;
    resize: none;
    height: 500px;
    width: 280px;
    padding: 10px;
    user-select: none;
    caret-color: transparent;
    pointer-events: none;    /* Desactiva la interacción del mouse */

}

.container__botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
}

.container__boton1{
    width: 308px;
    height: 47px;
    border-radius: 24px;
    background-color: #0A3871;
    font-size: 16px;
    color: white;
}

.container__boton2{
    width: 290px;
    height: 47px;
    font-size: 16px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
}

.container__boton3{
    width: 290px;
    height: 47px;
    font-size: 16px;
    border-radius: 24px;
    background-color: white;
    color: #0A3871;
}

@media (min-width: 400px) and (max-width:1200px){

    .header{
        padding-top: 70px;
        padding-bottom: 100px;
    }


    .presentacion{
        flex-direction: column;
        padding: 5%;
        gap: 20px;
    }

    .presentacion__box1__container{
        display: flex;
        height: 650px;
    }

    .container__botones{
        display: flex;
        align-items: center;
        height: 67px;
    }

    .presentacion__box1{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        gap:0px;
        width: 680px;
    }

    .presentacion__texto{
        display: flex;
        background: none;
        font-size: 32px;
        box-sizing: border-box;
        border: none; 
        color:#0A3871;
        padding-top: 20px;
        outline:0px;
        resize: none;
        width: 680px;
        padding: 10px;
    }

    .container__boton1{
        width: 328px;
        height: 90%;
        border-radius: 24px;
        font-size: 16px;
        background-color: #0A3871;
        color: white;
    }
    
    .container__boton2{
        width: 328px;
        height: 90%;
        border-radius: 24px;
        font-size: 16px;
        background-color: #D8DFE8;
        color: #0A3871;
    }
    

    .presentacion__box2{
        display:flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: #fff;
        padding-top: 0px;
        padding-bottom: 30px; 
        border-radius: 32px;
        width: auto;
    }
    
    .presentacion__box2B{
        display:flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: #fff;
        padding-top: 11px; 
        border-radius: 32px;
        padding-bottom: 30px; 
        width: auto;
        gap: 15px;
    }

    .container__boton3{
        border-radius: 24px;
        background-color: white;
        color: #0A3871;
        width: 95%;
    }

    .presentacion__box2__muñeco__imagen{
        display:none;
    }

    .presentacion__box2__texto{
        display: flex;
        background: none;
        font-size: 32px;
        box-sizing: border-box;
        border: none; 
        padding-top: none;
        outline:0px;
        resize: none;
        width: 580px;
        height: 180px;
        padding: 10px;
    }

}

@media (max-width: 399px) {
    .header{
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header__imagen{
        padding:0px;
        width: auto;
        height: auto;

    }

    .presentacion{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5%;
        gap: 20px;
    }

    .presentacion__box1__container{
        display: flex;
    }

    .container__botones{
        display: flex;
        align-items: center;
        height: 67px;
    }

    .presentacion__box1{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        width: 350px;
        gap:0px;
    }

    .presentacion__texto{
        display: flex;
        background: none;
        font-size: 32px;
        box-sizing: border-box;
        border: none; 
        color:#0A3871;
        padding-top: 20px;
        outline:0px;
        resize: none;
        padding: 10px;
    }

    .container__boton1{
        height: 90%;
        width: 90%;
        border-radius: 24px;
        font-size: 16px;
        background-color: #0A3871;
        color: white;
    }
    
    .container__boton2{
        height: 90%;
        width: 90%;
        border-radius: 24px;
        font-size: 16px;
        background-color: #D8DFE8;
        color: #0A3871;
    }
    

    .presentacion__box2{
        display:flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: #fff;
        padding-top: 0px;
        padding-bottom: 30px; 
        border-radius: 32px;
        width: auto;
    }
    
    .presentacion__box2B{
        display:flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: #fff;
        padding-top: 11px; 
        border-radius: 32px;
        padding-bottom: 30px; 
        width: auto;
        gap: 15px;
    }

    .container__botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:24px;
        height: 158px;
    }

    .container__boton3{
        border-radius: 24px;
        background-color: white;
        color: #0A3871;
    }

    .presentacion__box2__muñeco__imagen{
        display:none;
    }

    .presentacion__box2__texto{
        display: flex;
        background: none;
        font-size: 32px;
        box-sizing: border-box;
        border: none; 
        padding-top: none;
        outline:0px;
        resize: none;
        height: 180px;
        padding: 10px;
    }

}
